.AboutMeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AboutMeImageContainer{
    overflow: hidden;
    position: relative;
    z-index: 0;
    background: none;
    width: 100%;
}

.AboutMeTextContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
    width: 100%;
    background-color: #FFC4A7;
}

.AboutMeTextFirstColumn{
    width: 70%;
    margin: 2vw;
    margin-left: 5vw;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.AboutMeTextSecondColumn{
    width: 30%;
    margin: 2vw;
}

.AboutMeTextContainer:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.AboutMeHeader{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.AboutMeName{
    all: unset;
    opacity: 1;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0;
}

.AboutMeTitle{
    all: unset;
    margin-top: 1vw;
    margin-bottom: 1vw;
    opacity: 1;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.AboutMeText{
    all: unset;
    margin-top: 0;
    padding-top: 0;
    opacity: 1;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 20px;
}