*{
    margin: 0;
}

.AboutMeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AboutMeImageContainer{
    overflow: hidden;
    position: relative;
    z-index: 0;
    background: none;
    width: 100%;
}

.AboutMeImage2Container{
    width: 200px;
    border-radius: 3px;
}

.AboutMeTextContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFC4A7;
}

.AboutMeTextFirstColumn{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: non;
    display: none;
}

.AboutMeTextSecondColumn{
    width: 70%;
    margin-bottom: 2vw;
}

.AboutMeHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AboutMeTitle{
    all: unset;
    margin-top: 1vw;
    margin-bottom: 1vw;
    opacity: 1;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.6;
}

.AboutMeText{
    margin-top: 0;
    padding-top: 0;
    opacity: 1;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: justify;
    font-weight: 700;
}

.AboutMeText2{
    padding-top: 10px;
    opacity: 1;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: justify;
    font-weight: 700;
}


.sliderimg{
    width: 69%;
    margin-bottom: 20px;
}

.imgc{
    width: 97%;
}

@media (max-width: 450px) {
    .AboutMeImageContainer{
       width: 190%;
    }
  }