.FooterMainContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #C5754F;

    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 7px;
    height: 100%;
}

.FooterMainContainer p{
    align-self: center;
    margin: 0;
}


@media (max-width: 450px) {
    .Mail{
        display: none;
    }
}