*{
    margin: 0;
}

.AboutMeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.back2{
    background-color: rgba(255,196,167,1);
    margin: 0;
}

.AboutMeTextContainer2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

.AboutMeTextSecondColumn2{
    width: 100%;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AboutMeHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.AboutMeTitle{
    all: unset;
    margin-bottom: 1vw;
    font-size: 31px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#aboutme{
    opacity: 0.6;
}


.AboutMeTitle
{
   text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
        font-size: 100px;

    margin: 0;

    text-align: center;
}

video{
    width: 70%;
    border-radius: 10px;

    padding:2px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media (max-width: 450px) {
    .AboutMeImageContainer{
       width: 190%;
    }

    .AboutMeContainer{
       overflow: hidden;
    }

    .AboutMeTextSecondColumn{
        width: 90%;
    }

    .sliderimg{
        width: 80%;
    }

    .imgc{
        width: 100%;
    }

    .AboutMeTextSecondColumn{
        width: 85%;
        margin-bottom: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .AboutMeText2, .AboutMeText{
        width: 100%;
    }

    .AboutMeTitle{
        font-size: 50px;
    }
  }
