*{
    margin: 0;
}

.AboutMeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.back2{
    background-color: rgba(255,196,167,1);
    margin: 0;
}

.AboutMeTextContainer2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

.AboutMeTextSecondColumn2{
    width: 100%;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AboutMeHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.AboutMeTitle{
    all: unset;
    margin-bottom: 1vw;
    font-size: 31px;
    letter-spacing: 1px;
    font-family: Bold-Ital, Source Sans Pro, Droid serif, Bitter, Oxygen, Lato;
    font-weight: bold;
    font-style: italic;
    text-transform: initial;
    color: black;
}

#media{
    opacity: 0.6;
}


.AboutMeTitle
{
    font-size: 60px;
    margin: 0;
    text-align: center;
}

video{
    width: 70%;
    border-radius: 5px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media (max-width: 730px) {
    .AboutMeTitle{
        font-size: 70px;
    }
}

@media (max-width: 450px) {
    .AboutMeImageContainer{
       width: 190%;
    }

    .AboutMeContainer{
       overflow: hidden;
    }

    .AboutMeTextSecondColumn{
        width: 90%;
    }

    .sliderimg{
        width: 80%;
    }

    .imgc{
        width: 100%;
    }

    .AboutMeTextSecondColumn{
        width: 85%;
        margin-bottom: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .AboutMeText2, .AboutMeText{
        width: 100%;
    }

    .AboutMeTitle{
        font-size: 50px;
    }
  }


  @media (max-width: 340px) {
    .AboutMeTitle{
        font-size: 40px;
    }
}
