.NavBarButtonContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

.NavBarButton{
    padding: 1vw;
    margin-right: 1vw;
    opacity: 0.6;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;

    background-color: #C5754F;
    font-weight: 700;
    color: white;
    border: 0px solid;
}

.NavBarButton:hover{
    cursor: pointer;
    opacity: 0.8;
}

@media (max-width: 450px) {
    .NavBarButton{
       font-size: 10px;
    }
  }

@media (max-width: 420px) {
    .NavBarButtonContainer{
        display: none;
    }
} 