html {
  scroll-behavior: smooth;
}

.NavBarMainContainer{
  background-color: #FFC4A7;
  width: 100%;
  display:flex;
  justify-content: center;
}

.NavBarItemContainer{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .NavBarItemContainer {
    display: none;
  }
  
  .NavBarMainContainer{
    height: 60px;
  }
}